* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #eff5fe;
    --border-color: #0288d147;
    --container-width: 500px
}

.main-container{
    background-color: var(--main-bg-color);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    padding: 20px;
    width: var(--container-width);
    background-color: #fff;
    text-align: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.495);
}


.log-sign-btn{
    font-size: 20px;
    margin: 0 auto;
    width: 54%;
    display: flex;
    justify-content: space-around;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.301),-4px -4px 10px rgba(0, 0, 0, 0.301);
    border-radius: 25px;
    margin-bottom: 40px;
}

.reg-btn{
    font-weight: bolder;
    padding: 15px 32px;
    cursor: pointer;
    /* transition: all 0.2s linear; */
}

.active-log-btn{
    background-color: #0257d6;
    color: white;
    border-radius: 30px;
}

.form-item{
    margin: 20px 0;
}

.form-item>input{
    width: 80%;
    outline: none;
    border: none;
    font-size: large;
    font-weight: bold;
    padding: 5px 0;
    border-bottom: 2px solid gray;
}

.radio-cont{
    font-size: large;
    font-weight: bold;
    width: 80%;
    padding: 5px 0;
}

.radio-cont>input{
    font-size: 30px;
}

.inactive-log-btn{
    display: none;
}

.forget-pass-container{
    font-size: larger;
}

.social-links>a{
    text-decoration: none;
    color: #0257d6;
    font-size: 37px;
    margin: 0 10px;
}

.sub-btn{
    border: 2px solid black;
    background-color: #0257d6;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
}

.toast-container{
    width: var(--container-width);
    position: absolute;
    top: 0;
    background-color: #b1b7ff7b;
    padding: 20px 0;
    font-size: 20px;
    color: #5c4e43;
    text-align: center;
    transform: translateY(-70px);
    transition: all 0.3s ease-in-out;
}

#cut-btn{
    float: right;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.443);
}

#cut-btn>i{
    font-size: 25px;
}

#cut-btn>i:hover{
    color: rgba(0, 0, 0, 0.743);;
}